<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <div class="acidjs-rating-stars">
    <form>
        <input type="radio" name="group-1" id="group-1-0" value="5" /><label for="group-1-0"></label>
            <input type="radio" name="group-1" id="group-1-1" value="4" /><label for="group-1-1"></label>
            <input type="radio" name="group-1" id="group-1-2" value="3" /><label for="group-1-2"></label>
            <input type="radio" name="group-1" id="group-1-3" value="2" /><label for="group-1-3"></label>
            <input type="radio" name="group-1" id="group-1-4"  value="1" /><label for="group-1-4"></label>
    </form>
    </div>
</body>
</html>